*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open-sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h4, h5, h6{
    font-family: 'Gelasio', serif;
    font-weight: 600;
}

.pad{
    padding: 0 15vw;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

.banner{
    display: flex;
    gap: 20px;
    background-color: #29333d;
    color: white;
}

.banner h2:hover{
    color: darkcyan;
}

.video-banner{
    width: 280px;
    height: 200px;
    padding: 20px 0;
}

.pre-header{
    background-color: #003366;
    gap: 20px;
    color: white;
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

header{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.left, .center, .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.center img{
    width: 300px;
    height: auto;
}

.center{
    justify-content: center;
}

.left{
    align-items: flex-start;
    color: darkblue;
    font-weight: bold;
}

.right{
    align-items: flex-end;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.doppia-lista-lati{
    display: flex;
    justify-content: space-between;
}

.lista-barrata li{
    position: relative;
    padding: 0 10px 0 0;
}

.lista-barrata li:not(:last-child)::after{
    content: "|";
    position: absolute;
    right: 0;
    color: lightgray;
}

.post-header{
    height: 50px;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    font-weight: bold;
    font-size: 16px;
}

.separatore{
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.separatore li{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    position: relative;
    color: #006cf0;
}

.separatore li::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: lightgray;
}

.dropdown{
    position: relative;
}

.dropdown .submenu{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: white;
    min-width: 250px;
    z-index: 1000;
    border: 1px solid lightgray;
}

.dropdown:hover .submenu{
    display: block;
}

.dropdown li{
    border-bottom: 1px solid lightgray;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dropdown li:hover{
    background-color: #f0f0f0;
}

.argomento{
    margin-bottom: 50px;
}

.argomento h1{
    text-decoration: 1px underline;
    border-bottom: 1px solid lightgray;
    text-underline-offset: 7px;
    font-size: 22px;
}

.lista-articoli-scorribili{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100%;
    border-bottom: 1px solid lightgray;
}

.articolo-scorrevole{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-right: 1px solid lightgray;
}

.lista-articoli-scorribili .articolo-scorrevole img{
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.testo-articolo{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
}

.testo-articolo h2{
    color: #003366;
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.testo-articolo h2:hover{
    color: lightblue;
}
.testo-articolo h4{
    color: blue;
    font-size: 15px;
    margin: 0;
}
.testo-articolo h5{
    color: #B20000;
    font-size: 14px;
    margin: 0;
}
.testo-articolo h6{
    color: #696969;
    font-weight: 1000;
    font-size: 12px;
    margin: 10px 0 10px 0;
}

.lista-articoli-non-scorribili{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0;
}

.lista-articoli-non-scorribili .articolo-non-scorribile img{
    aspect-ratio: 1/1;
    width: 245px;
    height: 125px;
}

.colonne-separate{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.colonna-sx{
    flex: 3;
}

.colonna-dx{
    flex: 1;
    position: sticky;
    top: 20%;
    align-self: flex-start;
}

.colonna-dx .testo-articolo li:not(:last-child){
    margin: 10px 0;
    border-bottom: 1px solid lightgray;
}

.lista-articoli-colonna{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.articolo-colonna{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: flex-start;
    padding-bottom: 15px;
}

.articolo-colonna img{
    width: 100%;
    max-width: 450px;
    height: auto;
}

.articolo-riga{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin: 30px 0;
}

.articolo-riga img{
    width: 100%;
    min-width: 250px;
    max-width: 330px;
    height: auto;
    object-fit: cover;
}

.articolo-riga .testo-articolo{
    justify-content: flex-start;
    gap:5px;
}

.lista-video-articoli{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: 0;
}

.lista-video-articoli li{
    width: 300px;

    flex: 0 0 auto;
}

.video-articolo{
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    height: 100%;
}

.video-articolo video{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: filter 0.3s ease;
    filter: brightness(80%);
}

.video-articolo video:hover{
    filter: brightness(1.2);
}

.video-articolo .testo-articolo h2, .video-articolo .testo-articolo h6{
    color: white;
    margin: 10px 20px;
}

.video-articolo .testo-articolo h2:hover{
    color: lightblue;
}

footer{
    background-color: #003366;
    color: white;
    min-height: 480px;
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    margin-top: 30px;
    align-items: flex-start;
    padding-top: 20px;
    gap: 50px;
}

.footer-left{
    flex: 1;
    margin-right: 2rem;
    padding-top: 20px;
    font-weight: 600;
}

.footer-right{
    flex: 3;
    padding-top: 20px;
    align-items: center;
    font-weight: 1000;
}

.footer-right hr{
    width: 100%;
    margin: 1.5rem auto;
}

.footer-section{
    margin-bottom:30px;
}

.footer-section ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
    list-style: none;
}

.footer-section ul li a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.25rem;
    padding: 5px 0;
}

.footer-bottom{
    border-top: 1px solid lightgray;
    text-align: center;
}

.footer-left img{
    max-width: 200px;
    height: auto;
}

@media(max-width: 800px){
    .pad{
        padding: 0;
    }

    .banner{
        display: none;
    }

    header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .left, .center, .right{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .center img{
        width: 150px;
        height: auto;
    }
    .colonne-separate{
        flex-direction: column;
    }
    .colonna-sx, .colonna-dx{
        width: 100%;
        position: static;
    }
    .articolo-riga{
        flex-direction: column;
    }
    .articolo-riga img{
        width: 100%;
        height: auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    footer > *{
        width: 100%;
    }
}